body{
background-image:url("../wallpaper2.jpg");
 background-size: cover;}
h1{
  font-size:35px;
  padding-bottom:8px;
}
.spring{color:pink;
 margin-left:20px}
.summer{color:blue;
  margin-left:20px}
.autumn{color:orange;
    text-decoration:underline;
    margin-left:20px}
.winter{color:gray;
    text-decoration:underline;
    margin-left:20px}
  
  a{
    color:inherit;
    text-decoration: none;
  }  