body{
background-image:url("../wallpaper2.jpg");
 background-size: cover;}
.title{
  font-size:35px;
  margin-bottom:10px;}

.spring{color:pink;
 margin-left:20px}
.summer{color:blue;
  margin-left:20px}
.autumn{color:orange;
    text-decoration:underline;
    margin-left:20px}
.winter{color:gray;
    text-decoration:underline;
    margin-left:20px}
  
.box1{
    font-size:15px;
    text-decoration:underline;
    background-color:pink;
    width: 380px;
    height: 20px;
    padding:10px;
    border-style: solid;
    border-color: rgb(255, 0, 170);
    border-radius: 10px;
    margin:10px 10px 10px 10px;}

 .center {
     width: 800px;
     height: 320px;
     border-width: 8px;
     border-color: blueviolet;
     border-style: solid;
     border-radius: 8px;
      padding: 16px;
      margin-bottom: 8px;
      text-align:center;
    }