/* 別ファイルのcssの冒頭には、@charset "utf-8";を記述！！ */
@charset "utf-8";

main{
  width: 240px;
  margin: 32px auto;
  /* 幅指定、中央揃えのときは0 auto,上下余白を設定するなら数値 auto */
}

section{
  border: 4px double red;
  text-align: center;
  color: red;
/* ボックスの線を２重線の赤、テキスト中央、文字色赤 */
}
h1{margin: 0;
/* ブラウザのデフォルトの余白を、
スタイリングしやすいように、いったんmarginを0にする */
  border-bottom:2px solid red;
  /* 下に赤の下線 */
  font-weight: normal;
  /* 太字でない */
  padding: 8px 0;
  /* 上下に8px、左右0の余白 */
}

p{margin: 0;
font-weight: bold;
font-size: 36px;
padding:24px 0;}

button{
  all:unset;
  /* いったん全てをリセットする */
  width: 100%;
  background: red;
  border-radius: 8px;
  /* 横幅は親要素と同じ(=width:100%とすればよい）、背景色赤、角丸める*/
  color: white;
  text-align: center;
  padding: 8px 0;
  /* 文字色白、中央ぞろえ 上下余白8px*/
  margin-top:16px;
  /* ボタンの上の余白16px */
  cursor:pointer;
  /* ボタンにマウスを重ねると、カーソルの見た目が変わる */
  box-shadow:0 4px #7a0000;
  /* 立体的に見えるスタイル＝ボタンに影をつける。x方向の数値,y方向の数値,
  カラーコードの順 */
  }

button:hover{
  opacity: .8;
}
  /* button:hover{}で、マウスをボタンに重ねたときのスタイル{}を設定できる。
  opacity:.8で色が少し濃くなる */

button:active
/* ボタンを押したときの設定 */ {
  box-shadow:0 1px #7a0000;
  /* 押したとき、影が少し薄くなる＝4pxを1pxに */
  transform: translateY(3px);
  /* 押したとき、ボタンが押し込まれた感じになる＝buttonタグ全体
  が下方向に移動する＝transform:translateY(数値) */

}

#home {
  font-family: sans-serif;
  font-size: 18px;
  text-align: center;
  padding: 8px 0;
}

