body{
  font-family:'Courier New',monospace;
  /* 等幅フォントの指定 */
  font-size:14px;
  background:#eee;
  }

.container{
  margin:20px auto;
  width: 270px;
  background: #fff;
  padding:15px;
  text-align: center;
}

#timer{
/* idにスタイルを指定するときは#をつけて{}内で設定する */
background: #ddd;
height: 120px;
line-height:120px;
/* heightと文字の高さ＝line-height を同じにすると上下中央揃えになる*/
font-size:40px;
margin-bottom:15px;
}

.btn{
  width: 80px;
  height: 45px;
  line-height: 45px;
  background: #ddd;
  font-weight: bold;
  cursor:pointer;
  /* クリックできることがわかりやすいように、cursor:pointerとする */
  user-select: none;
  /* 連打してもテキストが選択されない設定 */
}

.controls{
  display:flex;
  justify-content: space-between;
  /* 間に余白を開ける */
}
.inactive{
  opacity:0.6;
}

/* div要素にはdisabledプロパティが使えないので、 
inactiveクラス=色を少し薄くする＝opacity:0.6をつけたり外したりすることでスタイルを付けながら
制御する→jsのfunctionのうちsetButtonStateのdisabled→classList.add/removeを設定する*/

#home {
  font-family: sans-serif;
  font-size: 18px;
  text-align: center;
  padding: 8px 0;
}